{% extends "base_public.html" %}
{% load static %}
{% block title %}Select Activity{% endblock %}
{% block header %}
<img src="{% static 'png/icon-192x192.png' %}" alt="Header Icon" style="vertical-align: middle; height: 50px" /> Queue Ticket
{% endblock %}
{% block content %}
<div class="activities-wrapper">
  <div class="columns is-multiline">
    {% if activities_with_status %}
      {% for item in activities_with_status %}
      <div class="column is-one-quarter" id="activity-{{ item.activity.id }}">
        <div class="box has-text-centered">
          <p>
            {% if item.counter_status|capfirst == 'Offline' %}
              <span id="counter-status-{{ item.activity.id }}" class="tag is-danger is-light is-medium">{{ item.counter_status|capfirst }}</span>
            {% elif item.counter_status|capfirst == 'Online' %}
              <span id="counter-status-{{ item.activity.id }}" class="tag is-success is-light is-medium">{{ item.counter_status|capfirst }}</span>
            {% else %}
              <span id="counter-status-{{ item.activity.id }}" class="tag is-warning is-light is-medium">{{ item.counter_status|capfirst }}</span>
            {% endif %}
          </p>
          <div style="padding-top: 10px">
            <a class="button is-primary is-large is-fullwidth" href="{% url 'queue_number' item.activity.id %}">{{ item.activity.name }}</a>
          </div>
        </div>
      </div>
      {% endfor %}
    {% else %}
      <div class="column">
        <div class="box has-text-centered">
          <p>No activities available.</p>
        </div>
      </div>
    {% endif %}
  </div>
</div>

{% if error_message %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
  Swal.fire({
    title: 'Error',
    text: "{{ error_message }}",
    icon: 'error',
    confirmButtonText: 'OK'
  }).then(() => {
    setTimeout(function(){
      window.location.href = "/select_activity/";
    }, 1000);
  });
</script>
{% endif %}
{% endblock %}
